*.v2
untitled1/.idea/workspace.xml
*.iml
*.iml
*.xml
*.png
untitled1/.idea/workspace.xml
untitled1/schem20-0.nbt
untitled1/schem0-0.nbt
*.pyc
*.pyc
untitled1/__pycache__/StructureManager.cpython-37.pyc
untitled1/.idea/workspace.xml
untitled1/.idea/misc.xml
untitled1/.idea/untitled1.iml
untitled1/__pycache__/StructureManager.cpython-37.pyc
untitled1/.idea/workspace.xml
untitled1/.idea/workspace.xml
untitled1/.idea/workspace.xml
untitled1/.idea/workspace.xml
untitled1/__pycache__/StructureManager.cpython-37.pyc
